doctype html
html
    head
        title 4-track
        link(href="/styles/main.styl" rel="stylesheet")
    body
        main
            section#left
                - let trackNumber = 1
                while trackNumber < 5
                    section.track(id=trackNumber)
                        // button.start start
                        // button.stop(disabled) stop
                        .item-box
                            label(for=`gain${trackNumber}`) Gain #{trackNumber}
                            input(type="range" id=`gain${trackNumber}`)
                        .item-box
                            label(for=`pan${trackNumber}`) Pan #{trackNumber}
                            input(type="range" id=`pan${trackNumber}`)
                        button(id=`rec${trackNumber}`) rec
                        // audio(controls hidden)
                        - trackNumber++
                        
            section#right
                section#master
                    .item-box
                        label(for="masterGain") Master Gain
                        input(type="range" id="masterGain")
                    
                section#input
                    .item-box
                        label(for="inputGain") Input Gain
                        input(type="range" id="inputGain")
                include views/transport.pug
        script(src="/controllers/main.js")